@clock-body: #43ac6a;
@clock-header: #338350;
@panel-heading: #5bc0de;
@footer-background: #333;
@footer-border-top: #242424;
@white: #fff;
@clock-background: #21a6e0;
@clock-time-background: #008cba;
@clock-info-border: #005a85;
@label-text: #939899;
@lessons-active-border:#444;
@lessons-innactive-border:#333;
@modal-background:#008cba;
@modal-footer-button-border:#005a85;
@spinner-main-color: #3388ee;
@spinner-background-color: #3c3c3c;