#board {
	margin-bottom: -20px;
    
    ul.days-list {
        width: 100%;
        list-style: none;
        display: inline-block;
        border-right: 1px solid #333;
        min-height: 100vh;
        background: #fff;
        li {
            // min-width: 150px;
            padding: 25px 50px;
            border-bottom: 3px solid #333;
            cursor: pointer;
            transition: background .4s;

            &:last-child {
                border-bottom: 0;
            }
            &:hover, &.active {
                background: #008cba;
                border-bottom: 3px solid #0D658F;
            }
        }
    }

    .day {
        min-height: 100vh;
    	background: #fff;
    	padding: 10px 0 0 15px;
    }
}