.input {
	display: inline-block;
	margin: 1em;
	position: relative;
	vertical-align: top;
	z-index: 1;
	background: #EFEEEE;
	display: block;
	margin: 1em auto 2em;
	overflow: hidden;

	input {
		background: #fff;
		border: none;
		font-size: 150%;
		border-radius: 0;
		color: #8897A6;
		display: block;
		float: right;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: bold;
		padding: 0.8em;
		height: 100%;
		right: 100%;
		position: absolute;
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		top: 0;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		-webkit-appearance: none;
		width: 60%;

		&:focus, .input-filled input {
			outline: none;
			transform: translate3d(100%,0,0);
			transition-delay: 0.06s;
			-webkit-transform: translate3d(100%,0,0);
			-webkit-transition-delay: 0.06s;
		}

		

	}


	label {
		margin-bottom: 0;
		height: 100%;
		text-align: left;
		transform-origin: 0% 50%;
		transition: color .6s, background-color .6s,transform 0.5s;
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		-webkit-transform-origin: 0% 50%;
		-webkit-transition: color .6s, background-color .6s, -webkit-transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		cursor: pointer;
		color: #6a7989;
		float: right;
		font-size: 100%;
		display: block;
		font-weight: bold;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		padding: 0 1em;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		width: 100%;
		z-index: 10;

		.placeholder {
			display: block;
			padding: 1.6em 0;
			position: relative;
			padding: 1.5em 0;
			width: 100%;
		}
	}

	
}
.input input:focus, .input.input-filled input {
			outline: none;
			transform: translate3d(100%,0,0);
			transition-delay: 0.06s;
			-webkit-transform: translate3d(100%,0,0);
			-webkit-transition-delay: 0.06s;
		}
.input input:focus + label, .input.input-filled label {
			pointer-events: none;
			transform: translate3d(60%,0,0);
			-webkit-transform: translate3d(60%,0,0);
			background:#6a7989;
			color:#EFEEEE;
		}
@media screen and (max-width:34em) {
	input:focus + label, .input-filled label {
		pointer-events: none;
		transform: translate3d(65%,0,0) scale3d(0.65,0.65,1);
		-webkit-transform: translate3d(65%,0,0) scale3d(0.65,0.65,1);
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6a7989;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #6a7989;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #6a7989;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #6a7989;
}