@media screen and (min-width: 320px) { 
	.multi_panel {
		width:100%;
		margin-right:0;
		float:none;
	}

	h1 {
		font-size: 18px;
	}
}

@media screen and (min-width: 640px) { 
	.multi_panel {
		width:100%;
		margin-right:0;
		float:none;
	}

	h1 {
		font-size: 20px;
	}
}

@media screen and (min-width: 800px) { 
	.multi_panel {
		width:100%;
		margin-right:0;
		float:none;
	}

	h1 {
		font-size: 22px;
	}
}

@media screen and (min-width: 1024px) { 
	.multi_panel {
		width:49%;
		margin-right:1%;
		float:left;
	}

	h1 {
		font-size: 39px;
	}
}

@media screen and (min-width: 1028px) { 
	.multi_panel {
		width:49%;
		margin-right:1%;
		float:left;
	}

	h1 {
		font-size: 39px;
	}
}