.navbar-default.enhanced#landing .nav > li > a {
    border: 1px solid #008CBA;
    border-radius: 3px;
    margin: 0 2.5px 0 2.5px;
    transition: all ease-out .25s;
    &:hover {
        background: #0D658F;
        color: #FAFAFA;
    }

    &.active {
        background: #008CBA;
        color: #FAFAFA;
    }
}
.navbar-default.enhanced#landing .nav {
    .dropdown.open {
        // background: #008CBA;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin: 10px 2.5px 0;

    li {
        border-bottom: 3px solid #0D658F;
    }
}
