html {
	// background: url(http://subtlepatterns.com/patterns/graphy.png);
}

.panel-body {
	word-wrap: break-word !important;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.container {
	padding: 0;
}

.panel-body {
	padding: 5px;
}


#lessons .panel-primary {
  border-color: @lessons-innactive-border;
}

#lessons .panel-primary .panel-heading {
  border-color: @lessons-active-border;
  background-color: @lessons-innactive-border;
}

.panel-body .table {
  margin-bottom: 0;
}

.modal.modal-primary .modal-header h4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal.modal-primary .modal-header {
  background-color: @modal-background;
  color:@white;
}

.modal.modal-primary .modal-footer button[data-dismiss="modal"] {
  background-color: @modal-background;
  border-color: @modal-footer-button-border;
}

.btn-group, .btn-group-vertical {
  width:100% !important;
}

/*.btn-group > .btn {
  display: block !important;
  float: none !important;
  width: 100% !important;
  max-width: 100% !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  margin-left: -1px;
}*/
.chart {
 width: 100%;
 min-height: 500px;
}

a.navbar-brand span.label {
  border-bottom: 3px solid #0D658F;
}

.navbar-brand span.label:hover {
  -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from   { transform:rotateY(0deg); }
  to { transform:rotateY(360deg); }
}
@-moz-keyframes spin {
  from   { transform:rotateY(0deg); }
  to { transform:rotateY(360deg); }
}
@-o-keyframes spin {
  from   { transform:rotateY(0deg); }
  to { transform:rotateY(360deg); }
}
@keyframes spin {
  from   { transform:rotateY(0deg); }
  to { transform:rotateY(360deg); }
}

.row.no-padding, .row.no-padding > div{
  padding: 0;
  margin: 0
}

.row.one-height {
  display: table;
  & > div[class*='col-'] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}