.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.fa-btn {
	margin-left: 10px;
}

.vi {
	margin-top: 10px;
}

.float_right {
	float: right;
}

.transparent {
	opacity: 0;
}

.no-overflow {
	overflow: hidden;
}

.overflow {
	overflow: visible;
}