.progress{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.out_load {
  opacity: 0;
  z-index: 0 !important;
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.out_load .spinner{
  opacity: 0;
  z-index: 0;
  -webkit-transition:all linear .5s;
  -moz-transition:all linear .5s;
  -ms-transition:all linear .5s;
  -o-transition:all linear .5s;
  transition:all linear .5s;
}

.spinner {
  margin: 25% 50%;
}

.in_load {
    background-color: @spinner-background-color;
    background-image: url(../img/2.png);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin: 0 auto;
    ul {
        position: absolute;
        margin: auto;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        list-style: none;
    }
    li {
        position: absolute;
        margin: auto;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        background: #fff;
        border-radius: 10px;
        opacity: 0;
    }
    li:nth-child(1) {
        opacity: 1;
        width: 10px;
        height: 10px;
    }
    li:nth-child(2) {
        animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround2 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
    }
    @keyframes circleround2 {
        25%, 75% {
            top: -100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround2 {
        25%, 75% {
            top: -100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround2 {
        25%, 75% {
            top: -100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround2 {
        25%, 75% {
            top: -100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(3) {
        animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround3 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.1s;
        -o-animation-delay: 0.1s;
        -ms-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
    }
    @keyframes circleround3 {
        25%, 75% {
            top: -70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround3 {
        25%, 75% {
            top: -70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround3 {
        25%, 75% {
            top: -70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround3 {
        25%, 75% {
            top: -70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(4) {
        margin: 20.5px 0 0 -6px;
        animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround4 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -ms-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
    }
    @keyframes circleround4 {
        25%, 75% {
            top: 0;
            left: 100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround4 {
        25%, 75% {
            top: 0;
            left: 100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround4 {
        25%, 75% {
            top: 0;
            left: 100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround4 {
        25%, 75% {
            top: 0;
            left: 100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(5) {
        animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround5 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.3s;
        -o-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
    }
    @keyframes circleround5 {
        25%, 75% {
            top: 70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround5 {
        25%, 75% {
            top: 70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround5 {
        25%, 75% {
            top: 70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround5 {
        25%, 75% {
            top: 70%;
            left: 70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(6) {
        animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround6 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.4s;
        -o-animation-delay: 0.4s;
        -ms-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }
    @keyframes circleround6 {
        25%, 75% {
            top: 100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround6 {
        25%, 75% {
            top: 100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround6 {
        25%, 75% {
            top: 100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround6 {
        25%, 75% {
            top: 100%;
            left: 0;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(7) {
        animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround7 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }
    @keyframes circleround7 {
        25%, 75% {
            top: 70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround7 {
        25%, 75% {
            top: 70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround7 {
        25%, 75% {
            top: 70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround7 {
        25%, 75% {
            top: 70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(8) {
        animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround8 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.6s;
        -o-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
    }
    @keyframes circleround8 {
        25%, 75% {
            top: 0;
            left: -100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround8 {
        25%, 75% {
            top: 0;
            left: -100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround8 {
        25%, 75% {
            top: 0;
            left: -100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround8 {
        25%, 75% {
            top: 0;
            left: -100%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    li:nth-child(9) {
        animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -o-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -ms-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -moz-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        -webkit-animation: circleround9 1.6s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
        animation-delay: 0.7s;
        -o-animation-delay: 0.7s;
        -ms-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        -webkit-animation-delay: 0.7s;
    }
    @keyframes circleround9 {
        25%, 75% {
            top: -70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-o-keyframes circleround9 {
        25%, 75% {
            top: -70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-moz-keyframes circleround9 {
        25%, 75% {
            top: -70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
    @-webkit-keyframes circleround9 {
        25%, 75% {
            top: -70%;
            left: -70%;
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }
}


/*
@-webkit-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Styles for old versions of IE 
.three-quarters {
  font-family: sans-serif;
  font-weight: 100;
}

// :not(:required) hides this rule from IE9 and below 
.three-quarters:not(:required) {
  -webkit-animation: three-quarters 1250ms infinite linear;
  -moz-animation: three-quarters 1250ms infinite linear;
  -ms-animation: three-quarters 1250ms infinite linear;
  -o-animation: three-quarters 1250ms infinite linear;
  animation: three-quarters 1250ms infinite linear;
  border: 8px solid @spinner-main-color;
  border-right-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
*/