@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);

@import "imports/colors";
@import "imports/reset";

@import "login";
@import "snippets";
@import "spinner";
@import "settings";
@import "media";
@import "registration";
@import "form";
@import "hover";
@import "board";
@import "navbar";

@import "landing/variables";
@import "landing/mixins";
@import "landing/agency";


.makeRandom(@min: 0, @max: @min+1, @int: 0) {
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Open Sans','Arial';
	margin-bottom: 60px;
	// background: #fff;
	background-image: url('../img/bg-steps.png');
}

html,body { height: 100%; margin: 0px; padding: 0px; }

.footer {
	width: 100%;
	height: 60px;
	background-color: @footer-background;
	padding-top: 20px;
	border-top: 5px solid @footer-border-top;
}

.container {
	padding: 0 15px;
}

#renderer {
	background: none;
	min-height: 100vh;
	padding-top: 20px;
	padding-bottom: 20px;
}
#lessons {
	.panel .panel-heading {
		background-color: @white;
		color: #000;
		border-bottom: 1px solid #7E7E7E;
		font-weight: bold;
	}

	.panel .panel-heading.current {
		background-color: @panel-heading;
		border-color: @panel-heading;
		color: @white;
	}
}

#clock.panel-success  {
	background-color: @clock-body;
}

#clock.panel-success span#time {
	background-color: @clock-header;
}

#clock {
	color: @white;
	font-size: 24px;
	font-weight: 300;
	background-color: @clock-body;
	text-transform: uppercase;

	.panel-body {
		padding: 0;
	}

	span#time {
		padding: 5px;
		display: block;
		background-color: @clock-time-background;
	}

	span:not(:first-child) {
		font-size: 20px;
		padding: 5px;
	}

	span#day {
		font-size: 24px;
		padding: initial;
	}

	.panel-body span.pull-right {
		padding-right: 10px;
	}


}

#clock.panel.panel-primary, #clock.panel-default {
	background-color: @clock-background;
}

ul.info {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		border-top: 1px solid @clock-info-border;
		padding: 3.5px 5px;
	}

	li:first-child {
		border-left: none;
	}
}

.clock {
	opacity: 0;
	-webkit-transition:all linear .5s;
	-moz-transition:all linear .5s;
	-ms-transition:all linear .5s;
	-o-transition:all linear .5s;
	transition:all linear .5s;
}

.clock.clock_show {
	opacity: 1;
}

table.table.time_table {

	tbody tr{
		cursor: pointer;
	}
	tr td:first-child {
		cursor: n-resize;
	}
	tr td:nth-child(2) {
		width:10%;
	}
	tr td:nth-child(3) {
		width:10%;
	}

	tr td:nth-child(4) {
		width:80%;
	}
}

.lessons-panel {
	.list-group-item {
		border: none;
		font-size: 17px;
	
		span {
			margin: 0 5px;
		}
	}
}



.panel {
	-webkit-transition:all linear .5s;
	-moz-transition:all linear .5s;
	-ms-transition:all linear .5s;
	-o-transition:all linear .5s;
	transition:all linear .5s;
}

.panel-body.hide-table {
	display: none;
}

.panel-body.show-table {
	display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-heading:hover {
	cursor: pointer;
}

.ct-chart {
	background: @white;
}


.user-list {
  height: 200px;
  overflow-y: auto;
}

.label-group {
	.label {
		margin-right: -5px;
	}

	.label:first-child {
		border-top-left-radius: 6px;
		border-bottom-left-radius: 4px;
	}

	.label:last-child {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 4px;
	}
}

.label.label-text {
	background: @label-text;
}

.navbar-brand .label.label-primary {
	margin-left: 10px;
}

.swiper-container, .swiper-slide {
	width: 500px;
	height: 300px;
}

.swiper-slide {
	margin-left: -3px;
}

/**
 * Dragdealer.js 0.9.7
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.dragdealer {
  position: relative;
  height: 30px;
  background: #EEE;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.dragdealer .disabled {
  background: #898989;
}
.slide {
float: left;
position: relative;
width: 20%;
height: 100%;
background-repeat: no-repeat;
background-position: center center;
}

.control-label {
	color: @white;
}

.big-favicon {
	font-size: 6em;
}

.landing .well {
	background: url(../img/8.png);
	color: @modal-background;
	opacity: .9;
	&.fi {
		background-position: 0px 0px;
	}
	&.s {
		background-position: -590px 0px;
	}
	&.t {
		background-position: 0px -180px;
	}
	&.fo {
		background-position: -592px -168px;
	}

	span {
		font-size: .2em;
		display: block;
		color: @white;
		text-transform: uppercase;
	}

	.fa {
		color: @white;
		text-shadow: 0 0 25px @modal-background;
	}
}

ul.feed {
	position: relative;
	list-style: none;
	padding: 0;
	display: block;
	min-height: 100%;

	li {
		display: block;
		float: left;
		padding: 7px;
		margin: 5px;
		width: 32.5333%;
		&:nth-child(1n+1) {
			background: red;
		}

		&:nth-child(3n+1) {
			background: blue;
		}

		&:nth-child(2n+1) {
			background: white;
		}
	}
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
	[class*='col-']:not(:first-child), [class*='col-']:not(:last-child) {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-bottom: 0px;
}