#modal-id.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title Додати подію
			.modal-body
				form(action='', method='POST', role='form')
				.formline
					label Час
					input.form-control(type="time",ng-model='event.time')
				.formline
					label Дата
					input.form-control(type="date",ng-model='event.date')
				.form-group
				textarea.form-control(ng-model='event.content')
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Відміна
				button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='addEvent()') Додати