.navbar.navbar-default.enhanced#landing(style="z-index:1;",ng-show="path!=\'\'")
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#/')
                | ТаймТейбл
                span.label.label-primary β
        .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
                //- li(ng-class='{\'active\':path==\'news\'}')
                    a(href='#/news') Новини
                li(ng-class='{\'active\':path==\'board\'}')
                    a(href='#/board', ng-show='in') Розклад
                li.dropdown(ng-class='{\'active\':path==\'events\'}')
                    a.dropdown-toggle(href, data-toggle='dropdown', ng-show='in')
                        | Події
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#/events') Переглянути
                        li(ng-show='access==\'groupmaster\'', data-toggle='modal', href='#modal-id')
                            a(href)
                                | Додати
                                i.fa.fa-plus.pull-right
                li(ng-class='{\'active\':path==\'event\'}')
                    a(href='#/track', ng-show='in') Трекер
                li(ng-class='{\'active\':path==\'manage\'}')
                    a(href='#/manage', ng-show='in && access==\'groupmaster\'') Управління
            ul.nav.navbar-nav.navbar-right
                li(ng-class='{\'active\':path==\'reg\'}')
                    a(href='#/reg', ng-show='!in') Зареєструватись
                li(ng-class='{\'active\':path==\'login\'}')
                    a(href='#/login', ng-show='!in') Увійти
                li
                    a(href, ng-click='logout()', ng-show='in') Вийти