//- include ./imports/loader.jade

.container-fluid#container
    .row
        .clock(ng-class="{'clock_show':activity!=undefined}")
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel#clock(ng-class="{'panel-primary':activity=='lesson','panel-success':activity!='lesson'}")
                    .panel-body
                        span.info#time {{time}}
                            span.pull-right(ng-show="activity=='lesson'") ЗАРАЗ
                            span.pull-right#day(ng-show="activity!='lesson'") {{currentDay | day_translate}}
                        span.pull-left(ng-show="activity=='holidays'") Зараз вихідний, відпочивайте :3
                        span.pull-left(ng-show="activity=='break'") Зараз перерва !
                        span.pull-left(ng-show="activity=='not_started'") Пари ще не почались !
                        span.pull-left(ng-show="activity=='over'") Пари закінчились !
                        ul.info(ng-show="activity=='lesson'")
                            li
                                i.fa.fa-clipboard
                                | {{lessons[nl].lesson}}
                            li
                                i.fa.fa-map-marker
                                | {{lessons[nl].room}}
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel-default#clock(ng-show="activity=='lesson' && lessons[nl+1]!=undefined && lessons[nl+1].day==lessons[nl].day")
                    .panel-body
                        span.info#time Наступний урок
                        ul.info
                            li
                                i.fa.fa-clipboard
                                | {{lessons[nl+1].lesson}}
                            li
                                i.fa.fa-map-marker
                                | {{lessons[nl+1].room}}
                #clock.panel-success(ng-show="lessons[nl+1].day!=lessons[nl].day && (activity=='lesson' || activity=='break')")
                    .panel-body
                        span.info#time Далі кінець пар
                        span.pull-left Можете ідти додому
    hr
    h1(style="color:#DCDCDC") Складність пар
    div(style="width: auto;background-color: #333;height: 300px;")
        canvas(id="evaluationChart")
    .row.vi
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h1(ng-class="{'text-primary':currentDay=='Sunday' || currentDay=='Saturday','text-info':currentDay!='Sunday' && currentDay!='Saturday'}") Розклад на&nbsp;
                span(ng-show="currentDay=='Sunday' || currentDay=='Saturday'") наступну
                span(ng-show="currentDay!='Sunday' && currentDay!='Saturday'") поточну
                |&nbsp;неділю

    .row#lessons
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .panel(ng-class="{'panel-primary':currentDay!='Sunday' && currentDay!='Saturday','panel-info':currentDay=='Sunday' || currentDay=='Saturday'}" ng-repeat="day in days | limitTo:5")
                .panel-heading.noselect(ng-class="{'current':day.day==currentDay}")
                    h3.panel-title {{day.day| day_translate}}
                        span.label.label-primary(ng-show="day.day==currentDay") Сьогодні
                .panel-body
                    .table-responsive(ng-show="true")
                        //- checkEmptyArray(lessons,day.day)
                        table.table.table-hover.time_table
                            thead
                                th Початок
                                th Аудиторія
                                th Дисципліна
                                th Складність
                            tbody
                                tr(ng-repeat="lesson in lessons| filter:day.day=days[$index].day | orderBy:'time_from'"
                                    data-toggle="modal"
                                    href='#lesson'
                                    ng-class="{'active':lesson.now}")
                                    div(ng-show="isLessonToday(lesson.array_of_days)")
                                        td(ng-click="modal(lesson.id)") {{lesson.time_from}}
                                        td(ng-click="modal(lesson.id)") {{lesson.room}}
                                        td(ng-click="modal(lesson.id)") {{lesson.lesson}}
                                            span.text-info(ng-show="isLessonToday(lesson.array_of_days)") (буде тільки в цей день)
                                        td.text-center(ng-click="modal(lesson.id)")
                                            span.label(ng-class="{'label-success':lesson.complexity==1 || lesson.complexity==2,'label-info':lesson.complexity==3,'label-warning':lesson.complexity==4,'label-danger':lesson.complexity==5,}") Г
                                            span(ng-show="isExistEval(lesson.id) || evaluations[evaluationSearch('lesson_id',lesson.id)].value!=undefined") &nbsp;
                                            span.label(ng-show="evaluations[evaluationSearch('lesson_id',lesson.id)].value!=undefined" ng-class="{'label-success':evaluations[evaluationSearch('lesson_id',lesson.id)].value==1 || evaluations[evaluationSearch('lesson_id',lesson.id)].value==2,'label-info':evaluations[evaluationSearch('lesson_id',lesson.id)].value==3,'label-warning':evaluations[evaluationSearch('lesson_id',lesson.id)].value==4,'label-danger':evaluations[evaluationSearch('lesson_id',lesson.id)].value==5,}") К
                                            span.label.label-default(ng-show="evaluations[evaluationSearch('lesson_id',lesson.id)].value==undefined")
                                                i.fa.fa-question

.modal.modal-primary.fade#lesson(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal")
                    span(aria-hidden="true")
                    span.sr-only Close
                h4.modal-title#myModalLabel {{modal_lesson.lesson}}|{{modal_lesson.type}}
            .modal-body
                | Тип уроку: {{modal_lesson.type}} <br>
                | Аудиторія: {{modal_lesson.room}} <br>
                | Викладач: {{modal_lesson.teacher}} <br>
                hr
                label.formline Оцініть складність предмета:
                .btn-group
                    button.btn.btn-default(type="button" ng-repeat="stage in complexity_stages" ng-click="set_hardity(complexity_stages[$index])" ng-class="{'active':stage.value == modalLessonValue}") {{stage.name}}
                div(ng-show="access=='groupmaster'")
                    hr
                    label.formline Поставити мітку предмету:
                    select.form-control(ng-model="lessonFlag" ng-selected="set_flag(lessonFlag)")
                        option Контрольна
                        option Колоквіум
                        option Уроку не буде
                        option Очистити
            .modal-footer
                button.btn.btn-primary(type="button" data-dismiss="modal") Ok

input#clock(type="text" my-current-time="format" style="display:none !important;")