include ./imports/loader.jade

.container
    .row
        .col-md-12.col-lg-12.col-xs-12.col-sm-12
            .jumbotron
                .container
                    h2 Ой - помилка
                    p {{error.text}}