include ./imports/loader.jade

.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.well
				h1(style="display: inline;") Події

				.btn-group.pull-right(style="width: inherit !important;")
					button.btn.btn-info(ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible || access!='groupmaster'" data-toggle="modal" href="#modal-id")
						i.fa.fa-plus
					button.btn.btn-info(ng-click="pull()" ng-hide="textBtnForm.$visible")
						i.fa.fa-refresh

				table.table.table-hover(ng-hide="events.length==0 || events==undefined")
					thead
						tr
							th #
							th Дата
							th Час
							th 
							th
					tbody
						tr(ng-repeat="event in events")
							td {{$index+1}}
							td
								span(editable-date="event.date" onaftersave="updateEvent($index)" e-form="textBtnForm"){{event.date}}
							td
								span(editable-time="event.time" onaftersave="updateEvent($index)" e-form="textBtnForm"){{event.time}}
							td
								span(editable-text="event.content" onaftersave="updateEvent($index)" e-form="textBtnForm") {{ event.content || 'empty' }}
							td
								.btn-group.pull-right(ng-show="access=='groupmaster'" style="width: inherit !important;")
									button.btn.btn-warning(ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible")
										i.fa.fa-pencil
									button.btn.btn-danger(ng-click="deleteEvent($index)" ng-hide="textBtnForm.$visible")
										i.fa.fa-trash
				
				.alert.alert-info.formline(role='alert',ng-show="events.length==0 || events==undefined")
					| Немає подій ...
include ./partials/eventModal.jade