doctype html
html(ng-app='TimeTable', ng-controller='MainController')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	link(rel='stylesheet', href='./vendor/css/bootstrap.css')
	link(rel='stylesheet', href='./vendor/css/font-awesome.min.css')
	link(rel='stylesheet', href='./vendor/css/xeditable.css', type='text/css')
	link(rel='stylesheet', href='./vendor/css/animate.css', type='text/css')
	link(rel='stylesheet', href='./vendor/css/selectize.bootstrap3.css', type='text/css')
	//- link(rel='stylesheet', href='./vendor/css/swiper.css', type='text/css')
	link(rel='stylesheet', href='css/style.css')
	title TimeTable β
body#page-top.index
	include ./partials/navigation.jade
	#renderer(ng-view='ng-view')
	//.footer.formline
		.container
			p.text-muted.text-center © 2013-2014. IT-департамент ВНТУ ІнІТКІ
	include ./partials/eventModal.jade

	script(src='./vendor/js/jquery.min.js')
	script(src='./vendor/js/bootstrap.min.js')
	script(src='./vendor/js/angular.min.js')
	script(src='./vendor/js/angular-sanitize.min.js')
	script(src='./vendor/js/angular-animate.min.js')
	script(src='./vendor/js/angular-strap.js')
	script(src='./vendor/js/angular-strap.tpl.js')
	script(src='./vendor/js/angular-route.js')
	script(src='./vendor/js/ngStorage.min.js')
	script(src='./vendor/js/xeditable.min.js')
	script(src='./vendor/js/dragdealer.min.js')
	script(src='./vendor/js/md5.js')
	script(src='./vendor/js/selectize.js')
	script(src='./vendor/js/Chart.js')
	script(src='./vendor/js/Sortable.js')
	script(src='./vendor/js/ng-sortable.js')
	script(src='app/app.js')
	script(src='app/configuration.js')
	script(src='app/controllers/LoginController.js')
	script(src='app/controllers/RegistrationController.js')
	script(src='app/controllers/BoardController.js')
	script(src='app/controllers/NewsController.js')
	script(src='app/controllers/EventsController.js')
	script(src='app/controllers/TrackController.js')
	script(src='app/controllers/ErrorController.js')
	script(src='app/controllers/ManageController.js')
	//script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
	//script(src='vendor/js/classie.js')
	//script(src='vendor/js/cbpAnimatedHeader.js')
	script(src='vendor/js/jqBootstrapValidation.js')
	script(src='vendor/js/contact_me.js')
	script(src='app/utility.js')
