.container
	.row
		.col-xs-12.col-sm-12.col-md-5.col-lg-5.col-md-offset-4.col-lg-offset-4
			form.form-signin(name="authForm",role="form",novalidate,ng-submit="authorize()")
				.input
					input(type="text",name="flogin",ng-model="auth.login",required) 
					label
						.placeholder Логін
				.input
					input(class="input_field",type="password",name="fpassword",ng-model="auth.password",required) 
					label
						.placeholder Пароль
				button.btn.btn-primary.pull-right.hvr-hollow.btn-lg(type="submit" ng-disabled="auth.login.length == undefined || auth.password.length == undefined") Увійти&nbsp;
					i.fa.fa-btn.fa-chevron-right


	.row.formline(ng-show="errors")
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.alert.alert-danger(role='alert')
				button.close(type='button', ng-click="errors=false")
					span(aria-hidden='true') &times;
					span.sr-only Close
				strong
					| От блін !
				br
				| {{error_type}} :c

script(src='app/partial/form.js')