nav.navbar.navbar-default.navbar-fixed-top#landing
	.container
		// Brand and toggle get grouped for better mobile display
		.navbar-header.page-scroll
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.page-scroll(href='#page-top') Тайм Тейбл
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.hidden
					a(href='#page-top')
				li
					a.page-scroll(href='#services') Можливості
				//li
					a.page-scroll(href='#portfolio') Portfolio
				li
					a.page-scroll(href='#about') Про проект
				li
					a.page-scroll(href='#team') Команда
				li
					a.login(href='/#/login',ng-show='!in') Вхід
					a.login(href='/#/board',ng-show='in') Повернутись
				//li
					a.page-scroll(href='#contact') Contact
		// /.navbar-collapse
	// /.container-fluid
// Header
// Header
header
	.container
		.intro-text
			.intro-lead-in Вітаємо Вас на ТаймТейбл !
			.intro-heading Ми раді Вас бачити
			a.page-scroll.btn.btn-xl(href='#services') Дізнатись Більше
				i.fa.fa-arrow-circle-o-down
section#services
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading Можливості
				h3.section-subheading.text-muted Ми пропонуємо найкращий сервіс для перегляду розкладу та інформації про навчальний процесс
		.row.text-center
			.col-md-4
				span.fa-stack.fa-4x
					i.fa.fa-circle.fa-stack-2x.text-primary
					i.fa.fa-stack-1x.fa-inverse.fa-area-chart
				//h4.service-heading E-Commerce
				h4.service-heading.text-muted Аналітика навчального процесу
			.col-md-4
				span.fa-stack.fa-4x
					i.fa.fa-circle.fa-stack-2x.text-primary
					i.fa.fa-stack-1x.fa-inverse.fa-bolt
				//h4.service-heading Responsive Design
				h4.service-heading.text-muted Швидкий доступ до будь-якої інформації
			.col-md-4
				span.fa-stack.fa-4x
					i.fa.fa-circle.fa-stack-2x.text-primary
					i.fa.fa-stack-1x.fa-inverse.fa-newspaper-o
				//h4.service-heading E-Commerce
				h4.service-heading.text-muted Тільки найважливіша інформація

//section#portfolio.bg-light-gray
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading Portfolio
				h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
		.row
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/roundicons.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal2', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/startup-framework.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal3', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/treehouse.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal4', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/golden.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal5', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/escape.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
			.col-md-4.col-sm-6.portfolio-item
				a.portfolio-link(href='#portfolioModal6', data-toggle='modal')
					.portfolio-hover
						.portfolio-hover-content
							i.fa.fa-plus.fa-3x
					img.img-responsive(src='img/portfolio/dreams.png', alt='')
				.portfolio-caption
					h4 Round Icons
					p.text-muted Graphic Design
section#about
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading Про проект
				h3.section-subheading.text-muted Маленька історія великої ідеї.
				.row
			.col-lg-12
				ul.timeline
					li
						.timeline-image
							img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
						.timeline-panel
							.timeline-heading
								h4 2013
								h4.subheading Наші скромні починання
							.timeline-body
								p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					li.timeline-inverted
						.timeline-image
							img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
						.timeline-panel
							.timeline-heading
								h4 Березень 2013
								h4.subheading Створенно прототип першої версії
							.timeline-body
								p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					li
						.timeline-image
							img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
						.timeline-panel
							.timeline-heading
								h4 Грудень 2013
								h4.subheading Поява додатку для Android та Windows Phone смартфонів
							.timeline-body
								p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					li.timeline-inverted
						.timeline-image
							img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
						.timeline-panel
							.timeline-heading
								h4 Червень 2014
								h4.subheading Фаза №2
							.timeline-body
								p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					li.timeline-inverted
						.timeline-image
							h4
								| Це
								br
								| Тільки
								br
								| Початок!
// Team Section
section#team.bg-light-gray
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading Наша крута команда
				h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
	.row
	.col-sm-4
		.team-member
			img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
			h4 Антон Роздорожнюк
			p.text-muted Android Developer
	.col-sm-4
		.team-member
			img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
			h4 Ерік Коцюба
			p.text-muted Web/Back-End Developer
	.col-sm-4
		.team-member
			img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
			h4 Роман Ванюта
			p.text-muted WP Developer
	.row
		.col-lg-8.col-lg-offset-2.text-center
			p.large.text-muted
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
//aside.clients
	.container
		.row
			.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='img/logos/envato.jpg', alt='')
			.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='img/logos/designmodo.jpg', alt='')
			.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='img/logos/themeforest.jpg', alt='')
			.col-md-3.col-sm-6
					a(href='#')
						img.img-responsive.img-centered(src='img/logos/creative-market.jpg', alt='')
//section#contact
	.container
		.row
			.col-lg-12.text-center
				h2.section-heading Contact Us
				h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
		.row
			.col-lg-12
				form#contactForm(name='sentMessage', novalidate='')
					.row
						.col-md-6
							.form-group
								input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
								p.help-block.text-danger
							.form-group
								input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
								p.help-block.text-danger
							.form-group
								input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
								p.help-block.text-danger
						.col-md-6
							.form-group
								textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
								p.help-block.text-danger
						.clearfix
						.col-lg-12.text-center
							#success
							button.btn.btn-xl(type='submit') Send Message
footer
	.container
		.row
		.col-md-4
			span.copyright &copy; TimeTable 2013-2014
		.col-md-4
		//.col-md-4
			ul.list-inline.quicklinks
				li
					a(href='#') Privacy Policy
				li
					a(href='#') Terms of Use
//.container
	.jumbotron(style="margin-top:20px")
		.container
			h1 Знай пари, які прогулюєш !
			p Ідея з інтерактивним розкладом зовсім не нова. Але чомусь у нашого університету такої класної штуки не було. Переглядати сфотографований розклад на телефоні не самий гірший варіант, але ми хотіли зробити щось більш зручніше. Отже зі старою ідеєю але з абсолютно новою реалізацію ми почали працювати над крутою системою для студентів для зручного перегляду розкладу. І ви самі можете переконатись у тому наскільки наша праця була корисною. Ми ще не закінчили роботу над цим проектом і у нас є багато ідей як зробити його ще корисніше, гарніше і крутіше.
				| А якщо у Вас раптом виникає питання "Чому ж ця штука буде дійсно корисною для студентів ?", то відповідь проста - вона створюється студентами і для студентів.
			p
				a.btn.btn-success.btn-lg(href="#/reg") Зареєструватись
				&nbsp;/&nbsp;
				a.btn.btn-primary.btn-lg(href="#/login") Увійти
	.landing
		.row.text-center.big-favicon
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.well.fi
					i.fa.fa-bar-chart
					span Аналітика навчального процесу
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.well.s
					i.fa.fa-bolt
					span Швидкий доступ до будь-якої інформації
		.row.text-center.big-favicon
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.well.t
					i.fa.fa-calendar
					span Плануйте свій навчальний час
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.well.fo
					i.fa.fa-newspaper-o
					span Тільки найважливіша інформація
	//- .row
	//- 	.col-xs-12.col-sm-12.col-md-12.col-lg-12
	//- 		.panel.panel-primary(ng-repeat="news in articles track by $index")
	//- 			.panel-heading
	//- 				h3.panel-title {{news.header}}
	//- 					span.float_right {{news.date}}
	//- 			.panel-body
	//- 				p(ng-bind-html="news.content")
script(src='vendor/js/agency.js')