//- include ./imports/loader.jade

.container
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .well
                .row
                    .col-lg-3.col-md-3.col-sm-12.col-xs-12
                        label.formline Підгруппа:
                        .btn-group
                            button.btn.btn-default(type="button" ng-repeat="subgroup in [{value: '1', label: 'Перша'},{value: '2', label: 'Друга'},{value: '', label: 'Обидві'}]" ng-click="filter.subgroup=subgroup.value" ng-class="{'active':subgroup.value == filter.subgroup}") {{subgroup.label}}
                    .col-lg-3.col-md-3.col-sm-12.col-xs-12
                        label.formline Порядок неділі:
                        .btn-group
                            button.btn.btn-default(type="button" ng-repeat="parity in [{value: '1', label: 'Перша'},{value: '2', label: 'Друга'}]" ng-click="filter.parity=parity.value" ng-class="{'active':parity.value == filter.parity}") {{parity.label}}

                //- label Підгруппа
                //- button.form-control.vi(type="button" class="btn btn-default" ng-model="filter.subgroup" data-html="true" bs-options="icon.value as icon.label for icon in lessonSubgroup" bs-select data-placeholder="Оберіть")
                //-             span(class="caret")
                //- label Парність неділі
                //- button.form-control.vi(type="button" class="btn btn-default" ng-model="filter.parity" data-html="true" bs-options="icon.value as icon.label for icon in parityTypes" bs-select data-placeholder="Оберіть")
                            span(class="caret")
    .row#lessons
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .panel.lessons-panel(ng-repeat="day in days | limitTo:5")
                .panel-heading.noselect
                    h3.panel-title {{day.day| day_translate}} &nbsp;
                        button.btn.btn-xs.btn-success(ng-click="addLessonModal(day.day)",data-toggle="modal",href='#addLesson')
                            i.fa.fa-plus
                .panel-body
                    div.list-group(ng-sortable="barConfig")
                        li.list-group-item(ng-repeat="lesson in lessons[day.day]| filter:filter",data-id="{{lesson.id}}")
                            i.fa.fa-bars
                            span з {{lesson.time_from}}
                            span до {{lesson.time_to}}&nbsp;
                            span {{lesson.room}}&nbsp;
                            span {{lesson.lesson}}/
                                small.text-muted {{lesson.type| lessonTypeTranslate}}&nbsp;
                            span підгруппа: {{lesson.subgroup}}&nbsp;

                            span.pull-right
                                button.btn.btn-xs.btn-warning(ng-click="editLesson(lesson)",data-toggle="modal",href='#editLesson')
                                    i.fa.fa-pencil
                                button.btn.btn-xs.btn-danger(ng-click="removeLesson(lesson)")
                                    i.fa.fa-trash
                .panel-footer(ng-show="day.changed")
                    button(type="button",class="btn btn-success") Зберігти&nbsp;
                        i.fa.fa-save
                    button(type="button",class="btn btn-danger") Відміна&nbsp;
                        i.fa.fa-times




.modal.modal-primary.fade#editLesson(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal")
                    span(aria-hidden="true")
                    span.sr-only Close
                h4.modal-title#myModalLabel {{modal_lesson.lesson}}|{{modal_lesson.type| lessonTypeTranslate}}
            .modal-body
                form
                    div.form-group
                        label Назва уроку
                        input(class="form-control",ng-model="modal_lesson.lesson",placeholder="")
                    div.form-group
                        label Тип уроку
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.type" data-html="true" bs-options="icon.value as icon.label for icon in lessonType" bs-select data-placeholder="Оберіть")
                            span(class="caret")
                    div.form-group
                        label Підгруппа
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.subgroup" data-html="true" bs-options="icon.value as icon.label for icon in lessonSubgroup" bs-select data-placeholder="Оберіть")
                            span(class="caret")
                    div.form-group
                        label Аудиторія
                        input(class="form-control",ng-model="modal_lesson.room",type="number",min="100",max="8999",placeholder="Наприклад 3221")
                    div.form-group
                        label Викладач
                        input(class="form-control",ng-model="modal_lesson.teacher",placeholder="Фамілія та ініціали")
                    div.form-group
                        label Час початку
                        input(class="form-control",type="time",ng-model="modal_lesson.time_from")
                    div.form-group
                        label Час кінця
                        input(class="form-control",type="time",ng-model="modal_lesson.time_to")
                    div.form-group
                        label По неділі
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.parity" data-html="true" bs-options="icon.value as icon.label for icon in parityTypes" bs-select data-placeholder="Оберіть")
                //- div(ng-show="access=='groupmaster'")
                    hr
                    label.formline Поставити мітку предмету:
                    select.form-control(ng-model="lessonFlag" ng-selected="set_flag(lessonFlag)")
                        option Контрольна
                        option Колоквіум
                        option Уроку не буде
                        option Очистити
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Відміна
                button.btn.btn-primary(type="button" data-dismiss="modal" ng-click="saveLessonEditing(modal_lesson)") Зберігти
.modal.modal-primary.fade#addLesson(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal")
                    span(aria-hidden="true")
                    span.sr-only Close
                h4.modal-title#myModalLabel Створити новий урок
            .modal-body
                form
                    div.form-group
                        label Назва уроку
                        input(class="form-control",ng-model="modal_lesson.lesson",placeholder="")
                    div.form-group
                        label Тип уроку
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.type" data-html="true" bs-options="icon.value as icon.label for icon in lessonType" bs-select data-placeholder="Оберіть") Action
                            span(class="caret")
                    div.form-group
                        label Підгруппа
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.subgroup" data-html="true" bs-options="icon.value as icon.label for icon in lessonSubgroup" bs-select data-placeholder="Оберіть")
                            span(class="caret")
                    div.form-group
                        label Аудиторія
                        input(class="form-control",ng-model="modal_lesson.room",type="number",min="100",max="8999",placeholder="Наприклад 3221")
                    div.form-group
                        label Викладач
                        input(class="form-control",ng-model="modal_lesson.teacher",placeholder="Фамілія та ініціали")
                    div.form-group
                        label Час початку
                        input(class="form-control",type="time",ng-model="modal_lesson.time_from")
                    div.form-group
                        label Час кінця
                        input(class="form-control",type="time",ng-model="modal_lesson.time_to")
                    div.form-group
                        label По неділі
                        button.form-control.vi(type="button" class="btn btn-default" ng-model="modal_lesson.parity" data-html="true" bs-options="icon.value as icon.label for icon in parityTypes" bs-select data-placeholder="Оберіть")
                //- div(ng-show="access=='groupmaster'")
                    hr
                    label.formline Поставити мітку предмету:
                    select.form-control(ng-model="lessonFlag" ng-selected="set_flag(lessonFlag)")
                        option Контрольна
                        option Колоквіум
                        option Уроку не буде
                        option Очистити
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Відміна
                button.btn.btn-primary(type="button" ng-click="addLesson(modal_lesson)") Зберігти