include ./imports/loader.jade

.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.panel.panel-primary.multi_panel(ng-repeat="news in articles | limitTo:4 ")
				.panel-heading
					h3.panel-title {{news.header}}
						span.float_right {{news.date}}
				.panel-body
					p(ng-bind-html="news.content")