.container#registration
	form.form-horizontal.well(
			ng-submit="registration()"
			role="form"
			name="regForm"
		)

		#hidden(style="display:none")
			input(name="login",type="text")
			input(name="password",type="password")

		.row
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.input
					input(required,autofocus,type="text",ng-model="reg.login")
					label
						.placeholder Логін

			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.input
					input(required,autofocus,type="password",ng-model="reg.password")
					label
						.placeholder Пароль
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.input
					input(required,autofocus,type="email",ng-model="reg.email")
					label
						.placeholder E-mail
		.row.formline
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				select.form-control(
							required
							autofocus
							type="year"
							ng-model="reg.year"
						)
						option(value="" disabled selected) Вкажіть рік, в якому Ви вступили до ВНТУ
						option(value='2013') 2013

			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				select.form-control(
							required
							autofocus
							type="year"
							ng-model="reg.department"
						)
						option(value="" disabled selected) Інститут на якому Ви навчаєтесь
						option(value='initki') ІнІТКІ
		.row.formline
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				select.form-control(
							required
							autofocus
							type="year"
							ng-model="reg.speciality"
						)
						option(value="" disabled selected) Ваша спеціальність
						option(value='kn') Комп'ютерні науки
						
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				select.form-control(
							required
							autofocus
							type="year"
							ng-model="reg.group"
						)
						option(value="" disabled selected) Вкажіть Вашу улюблену групу
						option(value='1') 1
		.row.formline
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				select.form-control(
							required
							autofocus
							type="year"
							ng-model="reg.subgroup"
						)
						option(value="" disabled selected) Ну і підгрупу також вибиріть
						option(value='1') 1
						option(value='2') 2 
						option(value='3') 3 
		.row.formline
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				button.btn.btn-primary.btn-block.hvr-buzz(
						type="submit"
						ng-disabled="regForm.$error.required"	
					) Погнали !
	.row.formline(ng-show="errors")
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.alert.alert-danger
				button.close(
						type="button"
						data-dismiss="alert"
						aria-hidden="true"
					) &times;
				strong От блін ! <br> {{error_type}} :c

script(src='app/partial/form.js')
script.
	$("select").selectize({
		create: true,
		sortField: 'text'
	});

	$("select").change(function () {
		selectBox = $(this).next().find(".focus");
	    //- console.log(selectBox.attr("class"),"class before");
		selectBox.removeClass("focus");
	    //- console.log(selectBox);
	    //- console.log(selectBox.attr("class"),"class after");
	  })
