include ./imports/loader.jade
.container
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			h2 Трекер
				sup
					span.label.label-info(
							ng-click="showInfo=!showInfo"
							style="padding: .1em .5em .1em;cursor:pointer;border-radius: 50%;"
						)
						i.fa.fa-question
			.well(
					ng-show="showInfo==true"
				)
				h3 Що таке Трекер ?
					i.fa.fa-times.pull-right(
							ng-click="showInfo = false"
							style="cursor:pointer"
						)
				p
					| Трекер - це нова експерементальна функція ТаймТейбл.
					| Вона дозволяє Вам відслітковувати пари студентів будь-яких груп.
					| Трекер буде кориний для вас у наступній ситуації:
					| Напевно у кожного з вас є знайомий з іншої группи чи інституту - але протягом учбового дня ви декілька раз дізнаєтесь один у одного на перерві в якому він корпусі/кабінеті чи де у нього наступна пара.
					| Трекер створенний вирішити цю проблему:
					ul
						li Знаходьте ваших друзів у списках користувачів
						li Додавайте їх до Трекера
						li Переглядайте інформацію де і коли ви зможете зустрітись
	.row
		.col-xs-12.col-sm-12.col-md-6.col-lg-6
			.panel.panel-info
				.panel-body
					form(
							action=""
							method="POST"
							role="form"
						)
						legend Пошук користувачів
						.input-group
							input(
									type="text"
									class="form-control"
									ng-model="userToTrack"
									bs-options="user.login as user.login for user in searchUsers($viewValue)"
									ng-change="compareNicknames()"
									placeholder="Введіть нікнейм..."
									bs-typeahead
								)
							span.input-group-btn
								button.btn.btn-primary(
										ng-disabled="!compareSuccess"
										ng-click="addUser()"
										type="button"
									) Додати
									i.fa.fa-plus
		.col-xs-12.col-sm-12.col-md-6.col-lg-6
			.panel.panel-info
				.panel-body
					legend Ваш Трекер-список

					ul.media-list.user-list
						li.media(
								ng-repeat="user in tracker"
							)
							.media-body
							h4.media-heading {{user.login}}
								span.label-group
									span.label.label-info {{user.user_data.department | department}}
									span.label.label-primary {{user.user_data.group}}{{user.user_data.speciality|speciality}}-{{user.user_data.yoa.slice(2,4)}}Б({{user.user_data.subgroup}})
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		.row(ng-show="activity!='holidays'")
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				.panel.panel-default(ng-repeat="user in tracker")
					.panel-body
						| {{user.login}}